<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @album.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @album.description %>
  </p>

  <%= render 'upload_photographer_album_image'%>

  <%= link_to 'Edit', edit_photographer_album_path(@album) %> |
  <%= link_to 'Back', photographer_albums_path %>
</div>

<script type="text/javascript">
  $(function () {
    $(".dropzone").dropzone({
      paramName: "upload[image]",
      addRemoveLinks: true,
      success: function(file, response) {
        $(file.previewElement).find('.dz-remove').attr('id', response.id);
        $(file.previewElement).addClass('dz-success');
      },
      removedfile: function(file) {
        var id = $(file.previewTemplate).find('.dz-remove').attr('id');
        $.ajax({
          type: 'DELETE',
          url: "/remove_photographer_album_image/" + id,
          success: function(data) {
            console.log(data.message);
          }
        });
        var previewElement;
        return (previewElement = file.previewElement) != null ? (previewElement.parentNode.removeChild(file.previewElement)) : (void 0);
      },
    });
  });
</script>