<%= form_for ([:photographer, @article]) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="card mt-4 mb-2">
    <div class="card-header">
      <h3 class="card-title">Article</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, id: :article_title, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_field :description, id: :article_description, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :banner_image %>
            <%= form.file_field :banner_image, id: :article_banner_image, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>

  <%#= f.hidden_field :photographer_id, value: current_photographer.id %>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
