<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @article.description %>
  </p>

  <p>
    <strong>Banner image:</strong>
    <%= @article.banner_image %>
  </p>

  <p>
    <strong>Photographers:</strong>
    <%= @article.photographers %>
  </p>

  <%= link_to 'Edit', edit_photographer_article_path(@article) %> |
  <%= link_to 'Back', photographer_articles_path %>
</div>