<%= form_with(model: membership_plan, local: true) do |form| %>
  <% if membership_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(membership_plan.errors.count, "error") %> prohibited this membership_plan from being saved:</h2>

      <ul>
      <% membership_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :membership_plan_name %>
  </div>

  <div class="field">
    <%= form.label :price_per_six_months %>
    <%= form.text_field :price_per_six_months, id: :membership_plan_price_per_six_months %>
  </div>

  <div class="field">
    <%= form.label :feature_one %>
    <%= form.text_field :feature_one, id: :membership_plan_feature_one %>
  </div>

  <div class="field">
    <%= form.label :feature_two %>
    <%= form.text_field :feature_two, id: :membership_plan_feature_two %>
  </div>

  <div class="field">
    <%= form.label :feature_three %>
    <%= form.text_field :feature_three, id: :membership_plan_feature_three %>
  </div>

  <div class="field">
    <%= form.label :feature_four %>
    <%= form.text_field :feature_four, id: :membership_plan_feature_four %>
  </div>

  <div class="field">
    <%= form.label :feature_five %>
    <%= form.text_field :feature_five, id: :membership_plan_feature_five %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
