<!DOCTYPE html>
<html>
  <head>
    <title>PhotographerFinder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'photographer', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'photographer', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/app_photographer_header" %>
    <%= yield %>
  </body>
</html>
